.answer {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 50%;
  height: 15vh;
  position: relative;
  font-size: 1.3rem;
  font-family: 'Heebo', sans-serif;
  text-align: center;
  text-transform: uppercase;
  cursor: default;
  transition: 0.3s ease background-color;
  overflow: hidden;
}

.answer:nth-of-type(1) {
  background-color: #3F51B5;
  color: #C5CAE9;
}

.answer:hover:nth-of-type(1) {
  background-color: #6479EA;
}

.answer:nth-of-type(2) {
  background-color: #4CAF50;
  color: #C8E6C9;
}

.answer:hover:nth-of-type(2) {
  background-color: #6edc73;
}

.answer:nth-of-type(3) {
  background-color: #FF5722;
  color: #FFCCBC;
}

.answer:hover:nth-of-type(3) {
  background-color: #fd7c53;
}

.answer:nth-of-type(4) {
  background-color: #009688;
  color: #B2DFDB;
}

.answer:hover:nth-of-type(4) {
  background-color: #5cbfb6;
}

.answer:hover {
  background-color: #f6e58f;
}

.answer__identifier {
  width: 60px;
  font-size: 15rem;
  text-align: center;
  font-weight: bold;
  color: #4c4c4c;
  position: absolute;
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  opacity: 0.05;
}

.answer__value {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

.answer__feedback {
  position: absolute;
  width: 50px;
  bottom: 20px;
  right: 20px;
}

.answer:nth-of-type(1) .answer__feedback {
  right: 20px;
  bottom: 20px;
}

.answer:nth-of-type(2) .answer__feedback {
  left: 20px;
  bottom: 20px;
}

.answer:nth-of-type(3) .answer__feedback {
  right: 20px;
  top: 20px;
}

.answer:nth-of-type(4) .answer__feedback {
  left: 20px;
  top: 20px;
}

@media screen and (min-width: 961px) {
  .answer {
    width: 50%;
    height: 49.999%;
    font-size: 2rem;
  }
}
