.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.result__title {
  font-size: 3.5rem;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #FFFFFF;
}

.result__trophy-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.result__trophy {
  width: 150px;
  height: 150px;
  transform: scale(0);
  animation: scaleIn 0.3s ease forwards;
  animation-delay: 0.5;
}

.result__data {
  margin-top: 30px;
  margin-bottom: 20px;
}

.result__data-item {
  font-size: 3rem;
  color: #FFFFFF;
  margin-top: 15px;
  text-align: center;
}

.result__data-label {
  font-size: 1.2rem;
  color: #E1BEE7;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
}

.result__stars {
  position: relative;
  height: 100px;
}

.result__star {
  width: 36px;
  height: 36px;
  position: absolute;
  transform: scale(0);
  animation: scaleIn 0.3s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;
  animation-delay: 0.8s;
}

.result__star:nth-of-type(1) {
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
}

.result__star:nth-of-type(2),
.result__star:nth-of-type(3) {
  margin-top: 30px;
  width: 40px;
  height: 40px;
  animation-delay: 1s;
}

.result__star:nth-of-type(4),
.result__star:nth-of-type(5) {
  margin-top: 50px;
  animation-delay: 1.2s;
}

.result__star:nth-of-type(2) { left: calc(50% - 60px); }
.result__star:nth-of-type(3) { right: calc(50% - 60px); }
.result__star:nth-of-type(4) { left: calc(50% - 92px); }
.result__star:nth-of-type(5) { right: calc(50% - 92px); }

.result__data-item,
.result__data-label {
  transform: scale(0);
  animation: scaleIn 0.3s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;
}

.result__data .result__data-set:nth-of-type(1) .result__data-item { animation-delay: 1.5s; }
.result__data .result__data-set:nth-of-type(1) .result__data-label { animation-delay: 1.6s; }
.result__data .result__data-set:nth-of-type(2) .result__data-item { animation-delay: 1.9s; }
.result__data .result__data-set:nth-of-type(2) .result__data-label { animation-delay: 2.0s; }
.result__data .result__data-set:nth-of-type(3) .result__data-item { animation-delay: 2.4s; }
.result__data .result__data-set:nth-of-type(3) .result__data-label { animation-delay: 2.5s; }

.result__options .result__option-item.scale-0:nth-of-type(1),
.result__options .result__option-item.scale-0:nth-of-type(2),
.result__options .result__option-item.scale-0:nth-of-type(3) {
  animation: scaleIn 0.3s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;
  animation-delay: 2.8s;
}

.result__options {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.result__option-item {
  margin-right: 25px;
  margin-left: 25px;
}

.result__twitter-icon {
  width: 35px;
  height: 35px;
}

.result__restart {
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
}

.result__restart-icon {
  width: 34px;
  height: 31px;
}

.scale-0 {
  transform: scale(0);
}

@keyframes scaleIn {
  from { transform: scale(0) }
  to { transform: scale(1) }
}

@media screen and (min-width: 961px) {
  .result__data {
    display: flex;
    justify-content: center;
  }

  .result__data-set {
    width: 200px;
  }
}
